

/* 
font-family: "Sofia", cursive;
font-family: "Noto Sans", sans-serif;

*/

:root{
    --font1:"Sofia", cursive;
    --font2: "Noto Sans", sans-serif;
    --prim:  white;
    --sec:  rgb(253, 119, 141);
    --tert: #b2a4a4;
    --color: #213349;
}

/* classes */

*{
    box-sizing: border-box;
}


.heading {
    color: var(--btnColor);
    color: var(--prim);
    font-family: var(--font1);
    width: 100%;
    text-transform: capitalize;
}


.sec1-Box{
    width: 100%;
    float: right;
    background-color: rgb(253, 119, 141);

}

   
body {
    font-family: var(--font2);
    display: flex;
    flex-direction: column;
    
}

header {
    display: flex;
    justify-content: space-between; 
    background-color: #213349;
    font-family: var(--font1);
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
}

.social-icons {
    display: flex;
    float: right;
}

.social-icons a {
    text-decoration: none;
    font-size: 20px;
}

main {
    padding: 20px;
    text-align: center;
}

main h2 {
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
    display: flex;
    float: left;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #213349;
    
    
}

.buttons button:hover {
    background-color: #0056b3;
    float: right;
}

.laptop img {
    width: 100%;
    height: auto;
    float: right;
}

.blocks {
    display: flex;
    flex-wrap: wrap; 
        
}

.icons {
    margin: 10px 0;
    display: flex;
}


footer {
    background-color: #213349;
    padding: 20px;
    text-align: left;
    
}

footer .social-icons {
    float: right;
}


