

/* 
font-family: "Sofia", cursive;
font-family: "Noto Sans", sans-serif;

*/

:root{
    --font1:"Sofia", cursive;
    --font2: "Noto Sans", sans-serif;
    --prim:  white;
    --sec:  rgb(253, 119, 141);
    --tert: #b2a4a4;
    --color: #213349;
}

/* classes */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 100%;
    border: 1px solid;
}

header{
    width: 100%;
    padding: 4px 0;
    background-color: #213349;
}

.heading{
    color: var(--btnColor);
    color: var(--prim);
    font-family: var(--font1);
    width: 50%;
    text-transform: capitalize;
}

.icon{

}


nav{
  }

  .navsocial-nav{

  }

  .sec1-Box{
    background-color: rgb(253, 119, 141);
   
  }

  .socialitem{

  }

  .visuallyhidden{

  }
  

/* ids */



#topSocial nav{

}

#topSocialList{
    list-style: none;
    text-align: right;

}

